body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
}

.header_text {
  margin-top: 100px;
  font-size: 3em;
  color: #d32f2f;
}

.gif_container img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
